{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load menu_tags %}


{% block content %}


	{% main_menu template="menus/main_menu.html" %}


	
	{% image self.banner_image fill-75x75 as banner_img %}

	<h1>{{ self.banner_title }}</h1>
	{{ self.banner_subtitle|richtext }}
	<img src="{{ banner_img.url }}">


	{% image self.picture fill-75x75 as picture_img %}
	cccc

	<h1>{{ self.name }}</h1>
	{{ self.shop }}
	<img src="{{ picture_img.url }}">
	{{ self.price }}


{% endblock %}