{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags longclawcore_tags basket_tags i18n %}



{% block content %}

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col l12">
                    <div class="card" style="width: 13rem;">
                        <img src="{{ page.picture }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ page.title }}</h5>
                            <p class="card-text">{{ page.name }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for item in page.variants.specific %}
                                <li class="list-group-item">Cena: {{ item.main_price }}</li>
                                <li class="list-group-item">Obchod: {{ item.shop }}</li>
                                <select id = "variant-select">
                                <option value="{{ item.id }}"></option>
                                </select> 
                                <!-- <li class="list-group-item">Ref: {{ item.ref }}; Stock: {{ item.stock }}</li> -->
                                <!-- xx   {{ item.quantity }} xx -->

                            {% endfor %}
                        </ul>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" value="1" aria-describedby="button-addon2" id="item-quantity-to-basket" min="1">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" id="add-to-basket-btn">Přidat do košíku</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


