<!-- {% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags basket_tags i18n djmoney %}

{% block body_class %} template-productpage {%endblock%}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row">
      <h1>{% trans 'Basket' %}</h1>
    </div>
    <div class="row">
      <div class="col l12">
        <table class="responsive-table">
          <thead>
            <tr>
              <th>{% trans 'Name' %}</th>
              <th>{% trans 'Variant' %}</th>
              <th>{% trans 'Count' %}</th>
              <th style="text-align:right">{% trans 'Price' %}</th>
              <th>{% trans 'Actions' %}
            </tr>
          </thead>

          <tbody>

            {% for item in basket %}
            <tr>
              <td>{{ item.variant.product.title }}</td>
              <td>{{ item.variant.ref }}</td>
              <td><input value="{{ item.quantity }}" class="basket_quantity_item" min="1"
                  data-variant-id="{{item.id}}" /></td>
              <td style="text-align:right">{% money_localize item.variant.price 'CZK' %}</td>
              <td>
                <button class="basket-delete-details btn" id="{{item.variant.id}}">{% trans 'Remove' %}</button>
              </td>
            </tr>
            {% endfor %}
            <tr>
              <th colspan="3">{% trans 'Total' %}</th>
              <th style="text-align:right">{% money_localize total_price 'CZK' %}</th>
              <th></th>
            </tr>


          </tbody>
        </table>

        <a href="{% url 'longclaw_checkout_view' %}" class="btn">{% trans 'Checkout' %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
 -->