{% extends "base.html" %}
{% load longclawcheckout_tags longclawcore_tags i18n %}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row">
      <form method="post" action=".">
        {% csrf_token %}
        <div class="col m6 s12">
          <h2>{% trans 'Shipping address' %}</h2>
          <div class="input-field">
            {{ shipping_form.name }}
            {{ shipping_form.name.label_tag}}
          </div>
          <div class="input-field">
            {{ shipping_form.line_1 }}
            {{ shipping_form.line_1.label_tag}}
          </div>
          <div class="input-field">
            {{ shipping_form.line_2 }}
            {{ shipping_form.line_2.label_tag}}
          </div>
          <div class="input-field">
            {{ shipping_form.city }}
            {{ shipping_form.city.label_tag}}
          </div>
          <div class="input-field">
            {{ shipping_form.postcode }}
            {{ shipping_form.postcode.label_tag}}
          </div>
          <div class="input-field">
            {{ shipping_form.country }}
            {{ shipping_form.country.label_tag}}
          </div>
          <div class="input-field">
            {{ checkout_form.email }}
            {{ checkout_form.email.label_tag}}
          </div>
          <div class="input-field">
            {{ checkout_form.shipping_option }}
            {{ checkout_form.shipping_option.label_tag}}
          </div>
        </div>
        <div class="col m6 s12">
          <h2>{% trans 'Billing address' %}</h2>
          <div class="input-field">
            {{ billing_form.name }}
            {{ billing_form.name.label_tag}}
          </div>
          <div class="input-field">
            {{ billing_form.line_1 }}
            {{ billing_form.line_1.label_tag}}
          </div>
          <div class="input-field">
            {{ billing_form.line_2 }}
            {{ billing_form.line_2.label_tag}}
          </div>
          <div class="input-field">
            {{ billing_form.city }}
            {{ billing_form.city.label_tag}}
          </div>
          <div class="input-field">
            {{ billing_form.postcode }}
            {{ billing_form.postcode.label_tag}}
          </div>
          <div class="input-field">
            {{ billing_form.country }}
            {{ billing_form.country.label_tag}}
          </div>
        </div>
        <div class="col m12">
          <button class="btn" type="submit">SEND</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
{{block.super}}

{% gateway_client_js as scripts %}
{% for js in scripts %}
{{ js|safe }}
{% endfor %}

{{ checkout_form.media }}

<script>
  $(document).ready(function () {
    $('select').formSelect();
    initShippingOption('/api/');
    $('#id_shipping-country').change(function () {
      initShippingOption('/api/');
    });
  });

</script>
{% endblock %}
