{% extends "base.html" %}

{% load wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}

<!-- 	<div class="container">
		{% for item in polozka_items %}
			<div class="row">
				{% image item.picture fill-250x250 as item_img %}
				<img src="{{ item_img.url }}">
				<h3>{{ item.name }}</h3>
				{{ item.price }}
				<h5>{{ item.shop }}</h5>
			</div>
		{% endfor %}

	</div> -->

XXX XXX XXX

	<div class="container">
		{% for page in self.get_children.specific %}

			{% if page.name %}
				{% image page.picture fill-150x150 as item_img %}

				<div class="card" style="width: 18rem;">
					<img src="{{ item_img.url }}" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">{{ page.name }}</h5>
						<p class="card-text">{{ page.price }}</p>
						<a href="#" class="btn btn-primary">@todo add to card</a>
					</div>
				</div>

				<!-- {{ page.title }} -->
				<!-- {{ page.name }}
				{{ page.price }}
				{{ page.shop }} -->

			{% endif %}

		{% endfor %}
	</div>

XXX XXX XXX

	<!-- <div class="container">
		{% for item in polozkypages %}
			<div class="row">
				{% image item.picture fill-250x250 as item_img %}
				<img src="{{ item_img.url }}">
				<h3>{{ item.name }}</h3>
				{{ item.price }}
				<h5>{{ item.shop }}</h5>
			</div>
		{% endfor %}

	</div> -->

{% endblock %}