{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Reset hesla" %}{% endblock %}

{% block content %}

    <h1>{% trans "Reset hesla" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Zapomněli jste heslo? Vyplňte email a bude Vám zaslán odkaz na resetování hesla." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset hesla' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.<p class="font-italic">@todo kontaktní formulář</p>{% endblocktrans %}</p>
{% endblock %}
