{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Registrace" %}{% endblock %}

{% block content %}
<h1>{% trans "Registrace" %}</h1>

<p>{% blocktrans %}Již máte účet? <a href="{{ login_url }}">Přihlásit se</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Registrovat" %}</button>
</form>

{% endblock %}
